<!DOCTYPE html>
<html>
<head>
  <title>Turno dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "turno_dashboard/application", media: "all" %>
  <%= javascript_include_tag "turno_dashboard/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
